{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block extra-head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <style>
    .leaflet-container {  /* all maps */
      height: 600px;
    }
  </style>
{% endblock extra-head %}

{% block content %}
  <div id="fup-content" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block fup-content %}
    {% endblock fup-content %}
  </div>
{% endblock content %}
{% block extra-js %}
  <script src="{% static "funicular_up/js/htmx.min.js" %}"></script>
  <script src="{% static "funicular_up/js/Sortable.min.js" %}"></script>
  <script>
    htmx.onLoad(function(content) {
      var sortables = content.querySelectorAll(".sortable");
      for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        var sortableInstance = new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class',

            // Make the `.htmx-indicator` unsortable
          filter: ".htmx-indicator",
          onMove: function (evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
          },

            // Disable sorting on the `end` event
          onEnd: function (evt) {
            this.option("disabled", true);
          }
        });

        // Re-enable sorting on the `htmx:afterSwap` event
        sortable.addEventListener("htmx:afterSwap", function() {
          sortableInstance.option("disabled", false);
        });
      }
    })
  </script>
{% endblock extra-js %}
