{% load i18n %}

{{ entry.caption|default_if_none:"" }} -
{% if entry.status == "UP" %}
  <a href="#"
     hx-get="{% url 'funicular_up:entry_detail' pk=entry.id %}"
     hx-target="#fup-content"
     hx-push-url="true">
    {% trans "Image available" %}
  </a>
{% elif entry.status == "DW" %}
  {% trans "Request image" %}
{% elif entry.status == "RQ" %}
  {% trans "Waiting for image" %}
{% elif entry.status == "ST" %}
  {% trans "Image available" %}
{% elif entry.status == "KI" %}
  {% trans "Image available" %}
{% endif %}
