{% load i18n %}

<div id="entry-status-{{ entry.id }}">
  {% if entry.status == "DW" %}
    <a href="#"
       hx-get="{% url 'funicular_up:entry_status' pk=entry.id %}"
       hx-target="#entry-status-{{ entry.id }}"
       hx-swap="outerHTML">
      {% trans "Request image" %}
    </a>
  {% elif entry.status == "RQ" %}
    <a style="color: red"
       href="#"
       hx-get="{% url 'funicular_up:entry_status' pk=entry.id %}"
       hx-target="#entry-status-{{ entry.id }}"
       hx-swap="outerHTML">
      {% trans "Waiting for image" %}
    </a>
  {% else %}
    <a href="#"
       hx-get="{% url 'funicular_up:entry_detail' pk=entry.id %}"
       hx-target="#fup-content"
       hx-push-url="true">
      {% trans "Image available" %}
    </a>
  {% endif %}
</div>
