{% load i18n %}

{% if previous %}
  <a href="#"
     hx-get="{% url 'funicular_up:entry_detail' pk=previous.id %}"
     hx-target="#fup-content"
     hx-push-url="true">
    {% trans "Previous image" %}
  </a> &lt;&lt;
{% endif %}
{% if next %}
  &gt;&gt;
  <a href="#"
     hx-get="{% url 'funicular_up:entry_detail' pk=next.id %}"
     hx-target="#fup-content"
     hx-push-url="true">
    {% trans "Next image" %}
  </a>
{% endif %}
<br>
<a href="#"
   hx-get="{% url 'funicular_up:folder_detail' pk=object.folder.id %}#entry-{{ object.id }}"
   hx-target="#fup-content"
   hx-push-url="true">
  {% trans "Back to folder" %}
</a>
: {{ object.folder.name }}
