{% load i18n %}

<h2>{% trans "Upload images to folder" %}: {{ object.name }}</h2>
<form>
  {{ form }}
  <br>
  <button type="submit"
          hx-post="{% url 'funicular_up:folder_upload'  pk=object.id %}"
          hx-encoding="multipart/form-data"
          hx-target="#fup-content"
          hx-push-url="true">
    {% trans "Upload" %}
  </button>
</form>
<hr>
<a href="#"
   hx-get="{% url 'funicular_up:folder_detail' pk=object.id %}"
   hx-target="#fup-content"
   hx-push-url="true">
  {% trans "Back to folder" %}: {{ object.name }}
</a>
