{% load i18n %}
{% load thumbnail %}

{% if object.parent %}
  <a href="#"
     hx-get="{% url 'funicular_up:folder_detail' pk=object.parent.id %}"
     hx-target="#fup-content"
     hx-push-url="true">
    {% trans "Back to parent folder" %}
  </a>
  : {{ object.parent.name }}
{% endif %}
<h2>{% trans "Folder" %}: {{ object.name }}</h2>
{% if object.children.exists %}
  <details>
    <summary>
      {% trans "Children folders" %}
    </summary>
    {% for child in object.children.all %}
      <a href="#"
         hx-get="{% url 'funicular_up:folder_detail' pk=child.id %}"
         hx-target="#fup-content"
         hx-push-url="true">
        {{ child.name }}</a>
      ({{ child.entry_set.count }})<br>
    {% endfor %}
  </details>
{% endif %}
{% if object.entry_set.count > 0 %}
  {% for entry in object.entry_set.all %}
    <figure id="entry-{{entry.id}}">
      <img src="{% thumbnail entry.image 128x128 crop %}" alt="{{ entry.caption }}">
      <figcaption>
        {% if entry.caption %}
          {{ entry.caption }} -
        {% endif %}
        {% include "funicular_up/htmx/entry_status.html" %}
      </figcaption>
    </figure>
  {% endfor %}
{% else %}
  <p>{% trans "No pictures in this folder" %}</p>
{% endif %}
<hr>
<a href="#"
   hx-get="{% url 'funicular_up:folder_list' %}"
   hx-target="#fup-content"
   hx-push-url="true">
  {% trans "Back to list" %}
</a>
{% if user.is_authenticated %}
  <br>
  <a href="/admin/funicular_up/folder/{{ object.id }}/change/">
    {% trans "Modify folder" %}
  </a>
{% endif %}
